.main_link{
    background-color:cornflowerblue;
    color: white;
    z-index: 100;
    padding: 10px 20px;
    border-radius: 10px;
    text-decoration: none;
}

.main_link:hover{
    background-color: white;
    color:cornflowerblue ;

}
.App {
    display:flex;
    justify-content: center;
    align-items: center;
    height: 1000px;
}

.none{
    display: none;
}