.main_link{
    background-color:cornflowerblue;
    color: white;
    z-index: 100;
    padding: 10px 20px;
    border-radius: 10px;
    text-decoration: none;
    margin-bottom: 30px;
}

.main_link:hover{
    background-color: white;
    color:cornflowerblue ;

}
.App {
    display:flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100%;
}


.arrow {
    width: 30px;
    height: 30px;
    border-top: 5px solid cornflowerblue;
    border-right: 5px solid cornflowerblue;
    margin-right: 60px;
} 


.arrow-left {
    transform: rotate(-135deg);
}    

.home_button{
    left: 30px;
    position: absolute;
    top: 10px;
}
